<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - SmartMoney</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/smartmoney.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/usuario.css" asp-append-version="true" />
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap" rel="stylesheet">
</head>
<body>
    <div class="container p-0 pb-4 pb-lg-5">
        <div class="row m-3 mt-md-5">
            <header class="p-0">
                <img src="~/img/logo.svg" alt="Logo" />
            </header>
            @if (TempData["MensagemSucesso"] != null)
            {
                <div class="alert alert-success mt-3 alert-dismissible fade show" role="alert">
                    @TempData["MensagemSucesso"]
                    <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
                </div>
            }
        </div>
        <main role="main" class="row bg-white mx-3">
            <div class="col-11 col-md-5 p-0 py-3 py-lg-4 mx-auto">
                <h1 class="text-center fw-normal fs-1 pb-lg-2">Assuma o comando das suas finanças.</h1>
                <img class="img-fluid" src="~/img/finance-staff.svg" alt="Ilustração personal de finanças" />
            </div>
            @RenderBody()
        </main>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
