@model smartmoney.Models.Categoria

@{
    ViewData["Title"] = "Nova categoria";
}

<div class="container my-5">
<h1>Nova categoria</h1>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Titulo" class="control-label form-label"></label>
                <input asp-for="Titulo" class="form-control" />
                <span asp-validation-for="Titulo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label hidden asp-for="UsuarioId" class="control-label"></label>
                <select hidden asp-for="UsuarioId" class ="form-control" asp-items="ViewBag.UsuarioId"></select>
            </div>
            <div class="form-group my-3">
                    <input type="submit" value="Criar" class="text-white btn btn-primary fw-bold" />
                    <a class="btn btn-outline-secondary ms-1 fw-bold" asp-action="Index">Voltar</a>
            </div>
        </form>
    </div>
</div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
