@model smartmoney.Models.Carteira

@{
    ViewData["Title"] = "Editar";
}
<div class="my-5 container">
    <h1>Editar Carteira</h1>
    <hr />
    <div class="row">
        <div class="col-md-4">
            <form asp-action="Edit">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="Id" />
                <div class="form-group">
                    <label asp-for="Titulo" class="form-label control-label">Título</label>
                    <input asp-for="Titulo" class="form-control" />
                    <span asp-validation-for="Titulo" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input asp-for="Saldo" class="form-control" type="hidden"/>
                    <span asp-validation-for="Saldo" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <select hidden asp-for="UsuarioId" class="form-control" asp-items="ViewBag.UsuarioId"></select>
                    <span asp-validation-for="UsuarioId" class="text-danger"></span>
                </div>
                <div class="form-group pt-3">
                    <input type="submit" value="Salvar" class="text-white fw-bold btn btn-primary" />
                    <a class="btn btn-outline-secondary ms-1 fw-bold" asp-action="Index">Voltar</a>
                </div>
            </form>
        </div>
    </div>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
